<doctype html>
  <head>
    <title>{% block title %} Title {% endblock %}</title>
     {% block css %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
     {% endblock %}
      
     {% block script %}
      <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
     {% endblock %}
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
  </head>

     
  <body>
   <div id="page-container">  
     <div id="header">{% block header %}header{% endblock %}</div>
     <div id="top-nav">{% block topnav %}topnav{% endblock %}</div>
	   <div id="flash">
       <div id="messages">Messages
        {% for category, msg in get_flashed_messages(with_categories=true) %}
            <p class="messages flash-{{ category }}">msg{{ msg }}</p>
        {% endfor %}
       </div>
     </div>
	   <div id="body-utama">
	   <div id="leftnav">
      <div id="navigation">
          <ul class="top-level">
            {% for item in entry%}
              <li><a href="/view/{{item}}">{{item|upper}}</a></li>
           {% endfor %}
          </ul>
        </div>
      </div>	
	   <div id="content">{% block content %}<h1>content</h1>{% endblock %}</div>
	   </div>
     <div id="deskripsi">{% block deskripsi %}<h2><p>deskripsi</p></h2>{% endblock%}</div>
     <div id="footer">
      {% block footer %}
        <div class="left">kaki sebelah kiri</div>
        <div class="right">kaki sebelah kanan</div>
                 footer
      {% endblock%}
     </div>
  </div>    
    
  </body>
</html>
